@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Roboto:wght@300&display=swap')>
:root {
    --primary-color: #e9c46a;
    --secondary-color: #f4a261;
    --accent1-color: #2a9d8f;
    --accent2-color: #e76f51;

    --heading-font: roboto, sarif;
    --paragraph-font: lato, sarif;

    --nav-background-color: #e9c46a;
    --nav-link-color: #f4a261;
    --nav-hover-link-color: #2A9D8F;
    --nav-hover-background-color: #E76F51;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a :link, nav a:visited {
    color: var(--nav-link-color);
}
nav a :hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}